body {
  margin-top: 10px;
  font-family: "Courier New", Courier, monospace;
  background-color: black;
  color: green;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  transition: background-color 0.5s, color 0.5s;
}

.nav {
  display: inline-block;
  margin: 2%;
  position: sticky;
  top: 0px;
  width: 95%;
  background-color: black;
}

.theme-toggle {
  /* position: relative; */
  display: flex;
  align-items: center;
  width: 20vh;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 25px;
}

.container {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  /* margin: 300px auto; */
  margin: auto;
  max-width: 800px;
}

.task {
  display: flex;
  text-align: end;
}

#title {
  font-size: 2em;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid green;
  animation: typing 2s steps(20, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: currentColor;
  }
}

input,
button {
  background-color: black;
  color: green;
  border: 1px solid green;
  padding: 10px;
  margin: 5px;
  font-size: 1em;
  width: calc(100% - 24px);
  box-sizing: border-box;
}

#addTaskButton {
  background-color: black;
  color: green;
  border: 1px solid green;
  padding: 10px;
  margin: 5px;
  font-size: 1em;
  width: calc(25% - 24px);
  box-sizing: border-box;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 20px;
  text-align: left;
  /* max-width: auto; */
}

li {
  background-color: black;
  color: green;
  border: 1px solid green;
  padding: 10px;
  margin: 5px;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  background-color: black;
  padding: 5px;
  width: 57px;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}

li button:hover {
  background-color: transparent;
  color: red;
  border: 1px solid red;
  transform: scale(1.1);
}

.theme-ubuntu {
  background-color: #300a24;
  color: #e95420;
}

.theme-ubuntu input,
.theme-ubuntu li,
.theme-ubuntu #addTaskButton,
.theme-ubuntu button {
  background-color: #300a24;
  color: #e95420;
  border: 1px solid #e95420;
}

.theme-ubuntu .nav {
  background-color: #300a24;
}

.theme-gray {
  background-color: #333;
  color: #ccc;
}

.theme-gray input,
.theme-gray li,
.theme-gray #addTaskButton,
.theme-gray button {
  background-color: #333;
  color: #ccc;
  border: 1px solid #ccc;
}
.theme-gray .nav {
  background-color: #333;
}
